.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-label {
  margin-left: 20px;
  margin-top: 20px;
  font-family: monospace;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #414043;
  opacity: 0.9;
  width: 5em;
  font-size: 1em;
}

input {
  padding: 5px;
  width: 13em;
  border-radius: 13px;
  font-family: monospace;
}

.input-placeholder {
  font-family: monospace;
}

.search-button {
  border-radius: 10px;
  font-family: monospace;
}
